.section {
  padding: 80px 10%;
  background: #fff;
}
.container {
  display: flex;
  gap: 50px;
  align-items: center;
}
.container  h3{
 color: #004ade; 
}
.formCard {
  flex: 1;
  padding: 30px;
  border: 1px solid #ddd;
  border: 1px solid #004ade; 
  border-radius: 8px;
}
.form {
  padding : 30px 0;
}
.tabs {
  display: flex;
  margin: 20px 0;
}
.tabs button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}
.active {
  background: #ffb400;
  background: #004ade; 
  font-weight: bold;
}
.amountGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
.amtBtn {
  padding: 15px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}
.input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
 border: none;
}
.input:focus {
  outline: none;
}

.submit {
  width: 100%;
  padding: 15px;
  background: #ffb400; 
  background: #004ade; 
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.imageCol {
  flex: 1;
  text-align: center;
}
.imageCol img {
  width: 100%;
  border-radius: 2px;
  height: 250px;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }
  .section {
  padding: 60px 3%;

}
.formCard {
  padding: 30px 10px;
 
 
}
}
